{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}

<head>
  <title>Login</title>
</head>

{% for message in get_flashed_messages() %}
<p>
  <b>{{ message }}</b>
</p>
{% endfor %}

<body>
  <form action="/login" method="post">
    <p>
      username: <br />
      <input type="text" name="username" />
    </p>
    <p>
      password: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Login" />
  </form>
</body>

{% endblock %}