{% extends "layout.html" %}

{% block title %}New Split{% endblock %}

{% block content %}

{% if session.user_id %}
<h3>New Split</h3>

<form action="/new_post" method="post" enctype="multipart/form-data">
  <p>
    <label for="title">Title</label>:<br />
    <input type="text" id="title" name="title" maxlength="100" required />
  </p>
  <p>
    <label for="tag">Tag</label>:<br />
    <select id="tag" name="tag" required>
      <option value="PPL">PPL</option>
      <option value="U/L">U/L</option>
      <option value="FB">FB</option>
      <option value="Other">Other</option>
    </select>
  </p>  
  <div id="content-boxes">
    <p>
      <label for="content_day1">Day 1</label>:<br />
      <textarea id="content_day1" name="content_day1" rows="5" cols="40" maxlength="50"></textarea>
    </p>
    <p>
      <label for="content_day2">Day 2</label>:<br />
      <textarea id="content_day2" name="content_day2" rows="5" cols="40" maxlength="50"></textarea>
    </p>
    <p>
      <label for="content_day3">Day 3</label>:<br />
      <textarea id="content_day3" name="content_day3" rows="5" cols="40" maxlength="50"></textarea>
    </p>
    <p>
      <label for="content_day4">Day 4</label>:<br />
      <textarea id="content_day4" name="content_day4" rows="5" cols="40" maxlength="50"></textarea>
    </p>
    <p>
      <label for="content_day5">Day 5</label>:<br />
      <textarea id="content_day5" name="content_day5" rows="5" cols="40" maxlength="50"></textarea>
    </p>
    <p>
      <label for="content_day6">Day 6</label>:<br />
      <textarea id="content_day6" name="content_day6" rows="5" cols="40" maxlength="50"></textarea>
    </p>
    <p>
      <label for="content_day7">Day 7</label>:<br />
      <textarea id="content_day7" name="content_day7" rows="5" cols="40" maxlength="50"></textarea>
    </p>
  </div>
  
  {% for message in get_flashed_messages() %}
  <p class="info">
    {{ message }}
  </p>
  {% endfor %}
  
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Submit" />
</form>

{% endif %}

{% endblock %}