{% extends "layout.html" %}

{% block title %}Keskustelu{% endblock %}

{% block content %}

{% if session.user_id %}
<h3>Uusi ketju</h3>

<form action="/new_post" method="post" enctype="multipart/form-data">
  <p>
    <label for="title">Title</label>:<br />
    <input type="text" id="title" name="title" maxlength="100" required />
  </p>
  <div id="content-boxes">
    <p>
      <label for="content_day1">Day 1</label>:<br />
      <textarea id="content_day1" name="content_day1" rows="5" cols="40" maxlength="50"></textarea>
    </p>
  </div>
  <button type="button" id="add-content-box">+</button>
  
  {% for message in get_flashed_messages() %}
  <p class="info">
    {{ message }}
  </p>
  {% endfor %}
  
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" value="Lähetä" />
</form>

<script>
  document.getElementById('add-content-box').addEventListener('click', function() {
    var contentBoxes = document.getElementById('content-boxes');
    var numBoxes = contentBoxes.getElementsByTagName('textarea').length;
    
    if (numBoxes < 7) {
      var newBox = document.createElement('p');
      newBox.innerHTML = '<label for="content_day' + (numBoxes + 1) + '">Day ' + (numBoxes + 1) + '</label>:<br />' +
                         '<textarea id="content_day' + (numBoxes + 1) + '" name="content_day' + (numBoxes + 1) + '" rows="5" cols="40" maxlength="5000"></textarea>';
      contentBoxes.appendChild(newBox);
    }
  });
</script>
{% endif %}


{% endblock %}